header {
  background-image: linear-gradient(
    to right,
    #ded4d8,
    #e5dfe3,
    #edeaed,
    #f5f4f6,
    #ffffff
  );
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktop-nav {
  display: none;
}

.container {
  padding: 1rem 1.35rem;
  margin: 0 auto;
}

.logo > img {
  width: 110px;
}

@media only screen and (min-width: 700px) and (max-width: 1204px) {
  .container {
    padding: 1.5rem 3.2rem;
    margin: 0 auto;
  }

  .desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 375px;
  }

  .nav-item {
    text-decoration: none;
    color: black;
    font-weight: 500;
  }

  .get_started__btn {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: hsl(30, 50%, 98%);
    background: hsl(239, 64%, 63%);
    padding: 1.25rem 1.5rem;
    border: none;
    border-radius: 5px;
  }

  .free {
    font-weight: 300;
  }

  .burger {
    display: none;
  }
}

@media only screen and (min-width: 1205px) {
  .container {
    padding: 1.5rem 4.2rem;
    margin: 0 auto;
  }

  .burger {
    display: none;
  }

  .desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 375px;
  }

  .nav-item {
    text-decoration: none;
    color: black;
    font-weight: 500;
  }

  .nav-item:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .get_started__btn {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: hsl(30, 50%, 98%);
    background: hsl(239, 64%, 63%);
    padding: 1.25rem 1.5rem;
    border: none;
    border-radius: 5px;
  }

  .get_started__btn:hover {
    cursor: pointer;
    background: hsla(239, 87%, 56%, 0.846);
  }

  .free {
    font-weight: 300;
  }

  .burger {
    display: none;
  }
}
